body {
  margin: 0;
  padding: 0;
}

header {
  background: #ffffff;
  width: 90vw;
  position: sticky;
  margin-top: 20px;
  top: 40px;
  left: 2.5vw;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.roulette-wraper {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 24px;
}

.roulette {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  row-gap: 20px;
}

.roulette .body {
  width: 320px;
  height: 320px;
  aspect-ratio: 1;
  display: flex;
  overflow: hidden;
  border-radius: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roulette .body .word-wrapper {
  width: 320px;
  height: 320px;
  min-height: 320px;
  max-height: 320px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.roulette .bg {
  width: 360px;
  height: 360px;
  border-radius: 200px;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}
